* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}
.contenr {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 15px;
}
.card-contener {
  padding-top: 50px;
}
.card-min {
  padding-left: 30px;
}
.card-h {
  margin-top: 20px;
}
.card-p {
  margin-bottom: 30px;
}
.card-r {
  padding-bottom: 30px;
}
.navbar {
  background-color: #121d39;
}
.navbar_img {
  padding-left: 100px;
  padding-top: 50px;
}
.navbar_link {
  display: flex;
  justify-content: space-between;
}
.navbar_logo > a {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #17c2ed;
}
a {
  margin-left: 50px;
}
.navbar_a > a {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.navbar-button > a {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.navbar-button > button {
  width: 128px;
  height: 49px;
  opacity: 1;
  border-radius: 100px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  background-color: #17c2ed;
}
.navbar-button-button {
  margin-right: 40px;
}
/* navbar link tugadi */
.navbar-taytil {
  /* max-width: 900px; */
  width: 600%;
}
.navbar-taytil-img {
  display: flex;
  align-items: center;
}
.navbar_taytil > button {
  width: 159px;
  height: 50px;
  border-radius: 15px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #4c76a3;
  background-color: #4d566b;
}
.navbar-taytil-h {
  font-family: Poppins;
  font-weight: 600;
  font-size: 55px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.navbar-taytil-p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #898e9c;
}
.navbar-taytil-button-button {
  width: 263px;
  height: 91px;
  opacity: 1;
  border-radius: 27px;
  background-color: #1c7dd7;
}
.navbar_body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.body-p-h > p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #17c1ed;
  margin-left: 200px;
}
.body-p-h > h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 55px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #101729;
}
.card {
  display: flex;
  justify-content: start;
  gap: 50px;
}
.card-taytil-h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #101729;
}
.card-taytil-p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 25px;
  color: #101729;
  line-height: 100%;
  letter-spacing: 0%;
}
.card-taytil > button {
  width: 223px;
  height: 79px;
  opacity: 1;
  border-radius: 27px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fefefe;
  background-color: #17c2ed;
}
.card2 {
  display: flex;
  justify-content: end;
  gap: 50px;
}
.card-taytil-h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #101729;
}
.card-taytil-p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 25px;
  color: #101729;
  line-height: 100%;
  letter-spacing: 0%;
}
.card-taytil > button {
  width: 223px;
  height: 79px;
  opacity: 1;
  border-radius: 27px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fefefe;
  background-color: #17c2ed;
}
.card3 {
  display: flex;
  justify-content: start;
  gap: 50px;
}
/*  bodiy tugadi */
.button-p-h > p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #17c1ed;
  margin-left: 600px;
}
.button-p-h > h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 55px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #101729;
}
.bottom-logo {
  color: #9497a0;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  cursor: pointer;
}
.button-cadr {
  display: flex;
}
.button-card2 {
  display: flex;
}
.button-card-h2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #101729;
}
.button-min-card {
  display: flex;
}
.button-card-taytil-min_card-p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 33px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #b9bcc2;
}
.button-card-taytil-min_card-p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #101729;
}
.button-card-taytil-p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #b9bcc2;
}
.button-card-taytil-star {
  display: flex;
  gap: 10px;
}
.button-bacraund-div {
  background-color: #e7f1fc;
  border-radius: 40px;
}
.button-cadr2-taytil-h2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #101729;
}
.button-cadr2-taytil-p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #7b8393;
}
.button-cadr2-taytil-button-pas {
  width: 225px;
  height: 79px;
  border-radius: 27px;
  opacity: 1;
  background-color: #17c2ed;
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
.bottom_a > a {
  color: black;
}
.bottom_sing-ap > a {
  color: black;
}
@media (max-width: 1203px) {
  .navbar_img-img {
    width: 400px;
  }
}
@media (max-width: 1021px) {
  .navbar_img-img {
    width: 400px;
  }
  .navbar-taytil-h {
    font-family: Poppins;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
  }
  .navbar-taytil-p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #898e9c;
  }
}
@media (max-width: 1000px) {
  .body-p-h > p {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #17c1ed;
    margin-left: 113px;
  }
  .body-p-h > h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #101729;
  }
  .card-taytil-h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #101729;
  }
  .card-img > img {
    width: 250px;
  }
  .card-taytil-p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: #101729;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .card-taytil > button {
    width: 158px;
    height: 60px;
    opacity: 1;
    border-radius: 27px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fefefe;
    background-color: #17c2ed;
  }
  .button-p-h > p {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #17c1ed;
    margin-left: 440px;
  }
  .button-p-h > h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #101729;
  }
  .button-card-img_img {
    width: 420px;
  }
  .button-card-h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #101729;
  }
  .button-card-taytil-min_card-img > img {
    width: 100px;
    margin-top: 25px;
  }
  .button-card-taytil-min_card-p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #b9bcc2;
  }
  .button-card-taytil-min_card-p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #101729;
  }
  .button-card-taytil-p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #b9bcc2;
  }
  .button-card-taytil {
    height: 200px;
  }
  .button-card-taytil-star {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  .button-card-taytil-star > img {
    width: 30px;
  }
  .button-cadr2-taytil-h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #101729;
  }
  .button-cadr2-taytil-p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #7b8393;
  }
  .button-cadr2-taytil-button-pas {
    width: 155px;
    height: 65px;
    border-radius: 27px;
    opacity: 1;
    background-color: #17c2ed;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
  }
}
@media (max-width: 1022) {
  .button-card-h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #101729;
  }
}
@media (max-width: 400px) {
  .navbar_link {
    display: flex;
    justify-content: center;
  }
  .navbar-taytil-img {
    display: flex;
  }
  .card-img > img {
    width: 100px;
  }
  .navbar_img-img {
    width: 100px;
    margin-left: -100px;
    margin-top: -60px;
  }
  .navbar-taytil-h {
    font-size: 20px;
  }
  .card-p {
    width: 50px;
  }
}
